/* General Colors */

$primary-red: #e51b23;
$primary-blue: #1c7be1;
$primary-green: #16bd3f;


/* Colors Palette */

$orange: #d87e23;
$pale-red: #eb4034;
$dark-red: #a01418;
$dark-blue: #1a5da3;
$dark-green: #109130;

/* Black & White Palette */

$lighter-grey: #c0c0c0;
$light-grey: #323232;
$dark-grey: #0f0f0f;

/* Images */

$background: url("../../images/background.jpg");
