* {
  color: white;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba($light-grey, $alpha: .7) 0%,
    rgba($dark-grey, $alpha: 1) 100%
  ), url("../../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
label,
button,
input,
i {
  font-size: calc(.6rem + .5vw) !important;
}
