.container {
  padding: 2em;
  background: none;
}

.form-control {
  color: white;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(white, $alpha: .5);
  border-radius: 0;

  &:focus {
    color: white;
    background: none;
    box-shadow: none;
    border-color: white;
    box-shadow: 0 1px 0 0 white;
  }
}

.btn {
  &-primary,
  &-success,
  &-warning,
  &-secondary,
  &-light {
    color: white;
    background: $grey;
    border: none;
    border-radius: 20px;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .6em;
    padding-bottom: .6em;
    box-shadow: $button-shadow;
    
    &:active:focus {
      color: $lighter-grey;
      background: $dark-red;
      box-shadow: $button-shadow;
    }
    
    &:active,
    &:focus {
      color: white;
      border-color: none;
      box-shadow: $button-shadow;
      background: $grey;
    }

    &:hover {
      color: white;
      background: $primary-red;
      outline: none;
      border: none;
      box-shadow: $button-shadow
    }
  }

  &-success {
    &:active:focus { background: $dark-green; }
    &:hover { background: $primary-green; }
  }

  &-warning {
    &:active:focus { background: $dark-blue; }
    &:hover { background: $primary-blue; }
  }

  &-secondary {
    border-radius: 10px;
    &:active:focus { background: $dark-orange; }
    &:hover { background: $orange; }

    &.active {
      &:active:focus { background: $lighter-grey; }
      &:focus { box-shadow: none; }
    }
  }

  &-light {
    &:active { background: $grey !important; }
    &:hover { background: $light-grey; }
  }
}

.error {
  &-message {
    display: inline-block;
    justify-content: center;
    height: 30px;
    width: 100%;
    color: $primary-red;
  }
}

.spinner {
  &-border {
    width: 1.5rem;
    height: 1.5rem;
  }
}