@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"),
    url("./assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

@import "./assets/sass/abstracts/variables";
@import "./assets/sass/abstracts/mixins";

@import "./assets/sass/base/base";
@import "./assets/sass/base/animations";

@import "./assets/sass/components/layout/layout";
@import "./assets/sass/components/layout/navbar";
@import "./assets/sass/components/layout/footer";

@import "./assets/sass/components/content/home";
@import "./assets/sass/components/content/menu";
@import "./assets/sass/components/content/about";
@import "./assets/sass/components/content/cart";
@import "./assets/sass/components/content/profile";

@import "./assets/sass/components/checkout/checkout";
